body{
    background-color: black;
}

header{
    font-size: 30px;
    font-family: "Charmonman", sans-serif;
    text-align : center;
    font-weight: bolder;
    color: aliceblue;
}

.Top{
    background-color: black;
    width: 100%;
    position: fixed;
}

.grid{
    display:grid;
    padding: 5px;
    grid-gap: 5px 5px;
    grid-template-columns: auto auto;
}
.house{
    font-family: "Dancing Script", sans-serif;
    color: white;
    padding: 5px;
    text-align: center;
}

h2{
    font-weight: bolder;
    text-align: center;
    color: white;
}

.Bottom{
    padding-top: 300px;
    text-align: center;
}

.content{
    padding: 25px;
    font-family: "Charmonman", sans-serif;
    font-weight: bolder;
    color: black;
}

p:hover{
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}