

header{
    font-size: 30px;
    font-family: "Charmonman", sans-serif;
    text-align : center;
    font-weight: bolder;
}

.grid{
    display:grid;
    padding: 10px;
    grid-gap: 10px 10px;
    grid-template-columns: auto auto auto auto;
}
.house{
    border: 5px solid rgb(52, 102, 85);
    padding: 10px;
    text-align: center;
}

h2{
    font-weight: bolder;
    text-align: center;
}

.content{
    background-color: red;
    padding: 10%;
    font-family: "Charmonman", sans-serif;
    text-align: center;
    font-weight: bolder;
    color: black;
}